@page
@model IndexModel
@{
    ViewData["Title"] = "Document Management";
}
<div class="row">
    <div class="col">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>This is where all the cool document management functionality will reside!</p>
    </div>
</div>