@page
@model Role.EditModel
@{
    ViewData["Title"] = "Edit Role";

    var isAdminRole = Model.RoleModel.Id == SysGuids.Role.Administrator;
    var checkboxDisabled = (Model.RoleModel.IsSystemRole) ? "disabled" : "";
}

<div class="row">
    <div class="col">
        <h2>@ViewData["Title"]</h2>
        <hr />
    </div>
</div>
<form id="formEdit" method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="col-12 text-danger"></div>
        <div class="col ac-col-properties me-sm-5 mb-3">
            <h5 class="text-muted">Enter the role's details:</h5>
            <hr />
            <input asp-for="RoleModel.Id" hidden />
            <div class="form-floating">
                <input class="form-control" asp-for="RoleModel.Name" placeholder="" aria-required="true" />
                <label class="control-label" asp-for="RoleModel.Name"></label>
                <span class="text-danger" asp-validation-for="RoleModel.Name"></span>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control ac-textarea-tall" id="RoleModel_Description" name="RoleModel.Description" placeholder="">@Model.RoleModel.Description</textarea>
                <label class="control-label" asp-for="RoleModel.Description"></label>
                <span class="text-danger" asp-validation-for="RoleModel.Description"></span>
            </div>
            <div class="d-none d-sm-flex ac-button-footer mt-3">
                <input class="btn btn-primary" id="btnSave" type="submit" value="Save" />
                <a class="btn btn-secondary" asp-page="Index">Cancel</a>
            </div>
        </div>
        <div class="col ac-col-claims">
            <h5 class="text-muted text-center mb-3">Select the role's claim assignments:</h5>
            <hr />
            <div class="mx-auto">
                <table class="table table-sm" data-order='[[1,"asc"]]'>
                    <thead>
                        <tr>
                            <th class="col-auto" id="thSelect" data-orderable="false">
                                <label asp-for="RoleModel.RoleClaims.ElementAt(0).IsAssigned"></label>
                            </th>
                            <th><label asp-for="RoleModel.RoleClaims.ElementAt(0).Claim"></label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var claim in Model.RoleModel.RoleClaims)
                            {
                                var checkedVal = (claim.IsAssigned || isAdminRole) ? "checked" : "";
                                <tr>
                                    <td class="align-middle">
                                        <input class="form-check ms-3" type="checkbox" @checkedVal @checkboxDisabled />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => claim.Claim)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-flex d-sm-none ac-button-footer mt-3">
                <input class="btn btn-primary" id="btnSave" type="submit" value="Save" />
                <a class="btn btn-secondary" asp-page="Index">Cancel</a>
            </div>
        </div>
    </div>

    <input type="hidden" asp-for="RoleModel.IsSystemRole" />
    <input id="hfClaimList" name="hfClaimList" type="hidden" value="" />
</form>

@section Scripts {

    <script defer>
        var dt = $('table').DataTable();

        $("#btnSave").click(function (event) {
            var claims = [];

            dt.column("#thSelect").nodes().to$().children("input:checked").each(function () {
                claims.push(dt.row($(this).closest("tr")).data()[1]);
            });

            $("#hfClaimList").val(claims.join(','));
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
