@page
@model Role.EditModel
@{
    ViewData["Title"] = "Edit Role";

    var isAdminRole = Model.RoleModel.Id == SysGuids.Role.Administrator;
    var checkboxDisbled = (Model.IsSystemRole) ? "disabled" : "";
}

@section css {

    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.4/datatables.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.4/datatables.min.css" />
    </environment>
}

<div class="row">
    <div class="col">
        <h2>@ViewData["Title"]</h2>
        <hr />
    </div>
</div>
<form id="formEdit" method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="col-12 text-danger"></div>
        <div class="col col-properties me-sm-5 mb-3">
            <h5 class="text-muted">Enter the role's details:</h5>
            <hr />
            <input asp-for="RoleModel.Id" hidden />
            <div class="form-floating">
                <input class="form-control" asp-for="RoleModel.Name" aria-required="true" />
                <label class="control-label" asp-for="RoleModel.Name"></label>
                <span class="text-danger" asp-validation-for="RoleModel.Name"></span>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control textarea-tall" id="RoleModel_Description" name="RoleModel.Description">@Model.RoleModel.Description</textarea>
                <label class="control-label" asp-for="RoleModel.Description"></label>
                <span class="text-danger" asp-validation-for="RoleModel.Description"></span>
            </div>
            <div class="row d-none d-sm-block align-items-center mt-3">
                <div class="col-auto">
                    <input class="btn btn-primary" id="btnSave" type="submit" value="Save" />
                    <a class="btn btn-secondary" asp-page="Index">Cancel</a>
                </div>
            </div>
        </div>
        <div class="col col-claims">
            <h5 class="text-muted text-center mb-3">Select the role's claim assignments:</h5>
            <hr />
            <div class="mx-auto">
                <table class="table table-sm" data-order='[[1,"asc"]]'>
                    <thead>
                        <tr>
                            <th class="col-auto" id="thSelect" data-orderable="false">
                                <label asp-for="RoleModel.RoleClaims.ElementAt(0).IsAssigned"></label>
                            </th>
                            <th><label asp-for="RoleModel.RoleClaims.ElementAt(0).Claim"></label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var claim in Model.RoleModel.RoleClaims)
                            {
                                var checkedVal = (claim.IsAssigned || isAdminRole) ? "checked" : "";
                                <tr>
                                    <td class="align-middle">
                                        <input class="form-check ms-3" type="checkbox" @checkedVal @checkboxDisbled />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => claim.Claim)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="row d-block d-sm-none align-items-center mt-3">
                <div class="col-auto">
                    <input class="btn btn-primary" id="btnSave" type="submit" value="Save" />
                    <a class="btn btn-secondary" asp-page="Index">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <input id="hfClaimList" name="hfClaimList" type="hidden" value="" />
</form>

@section Scripts {

    <environment include="Development">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/v/bs5/dt-1.11.4/datatables.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/v/bs5/dt-1.11.4/datatables.min.js"></script>
    </environment>

    <script defer>
        var dt = $('table').DataTable();

        $("#btnSave").click(function (event) {
            var claims = [];

            dt.column("#thSelect").nodes().to$().children("input:checked").each(function () {
                claims.push(dt.row($(this).closest("tr")).data()[1]);
            });

            $("#hfClaimList").val(claims.join(','));
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
