.ac-col-properties {
    min-width: 25rem;
    max-width: 30rem;
}

.ac-col-claims,
.ac-col-users {
    min-width: 25rem;
    max-width: 35rem;
}

.form-floating > .ac-textarea-tall {
    height: 10rem;
}
