@using CRFricke.Authorization.Core
@inject IAuthorizationManager authManager

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Authorization.Core.Test.Web</title>
    <link rel="stylesheet" type="text/css" href="~/_content/CRFricke.Authorization.Core.UI/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/_content/CRFricke.Authorization.Core.UI/lib/bootstrap/font/bootstrap-icons.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/_content/CRFricke.Authorization.Core.UI/lib/datatables/datatables.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/theme-picker.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/Authorization.Core.UI.Test.Web.styles.css" asp-append-version="true" />

    @* This script needs to be in head section to prevent screen flickering when page is loaded. *@
    <script src="~/js/theme-picker.js"></script>
</head>
<body>
    <partial name="_ThemePickerSvgs" />
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-toggleable-lg border-bottom box-shadow mb-3">
            <div class="container-fluid align-items-center">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Authorization.Core.Test.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1 align-items-lg-center me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-page="/Index">Home</a>
                        </li>
                    @if (await authManager.IsAuthorizedAsync(User, AppClaims.Calendar.List))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-page="/Calendar/Index">Calendar</a>
                        </li>
                    }
                    @if (await authManager.IsAuthorizedAsync(User, AppClaims.Document.List))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-page="/Document/Index">Document</a>
                        </li>
                    }
                    @if (await authManager.IsAuthorizedAsync(User, SysClaims.Role.List))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Authorization" asp-page="/Role/Index">Role</a>
                        </li>
                    }
                    @if (await authManager.IsAuthorizedAsync(User, SysClaims.User.List))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Authorization" asp-page="/User/Index">User</a>
                        </li>
                    }
                    </ul>
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav">
                        <partial name="_ThemePickerPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; @DateTime.Now.Year - Authorization.Core.Test.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/_content/CRFricke.Authorization.Core.UI/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/_content/CRFricke.Authorization.Core.UI/lib/datatables/datatables.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/_content/CRFricke.Authorization.Core.UI/lib/luxon/luxon.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>