.ac-button-footer {
    align-items: center !important;
    column-gap: 1rem !important;
    justify-content: center !important;
}

.ac-button-footer .btn {
    min-width: 4.5rem;
}

.ac-hide-lastpass ~ div[data-lastpass-icon-root] {
    display: none;
}

.ac-icon-button {
    display: inline-block;
    font-size: 1.2rem;
    margin-left: .5rem;
}

.ac-icon-button::before {
    vertical-align: baseline;
}
