@model ModelBase
@if (Model.Notifications != null)
{
    <div class="col-sm-4 text-center">
        @foreach (var notification in Model.Notifications)
        {
            var textClass = notification.Severity == Severity.High ? "text-danger" : "text-success";
            <h5 class="@textClass">@notification.Message</h5>
        }
    </div>
}
